.titulocard1{
    color: #DDE8F0;
    text-align: center;
    font-size: 30px;
    padding: 35px 0 15px 0;
    text-shadow: -3px -3px 5px #001B48;
    font-family:'Bowlby One SC', cursive; 
    letter-spacing: 4px;
    margin-top: 50px;
}

.contentienda{
    width:100;
    font-family: open sans;
    font-size: 20px;
    letter-spacing:0.03em;
    margin-bottom:-132px;
}

.container{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
    margin-top: 100px;
    
}

.container .card{
    width: 250px;
    height: 600px;
    overflow: auto;
    text-align: center;
    transition: all 0.25s;
    border-radius: 10px;
    margin: 0.5px;
    padding: 1px;
}

.container .card p,
h4 {
    width: 80%;
    margin: 20px;
}
.container .card:hover{
    transform: rotateY(10deg); 
    transition: 3s;
}
#cardtwo:hover{
    transform: rotateY(20deg); 
    transition: 3s;
}

.container .card img{
    width: 246px;
    height: 350px;
}
.container .card h4{
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}


    @media (max-width:600px){
        .container{
            width: 100%;
            height: 400px;
        }
    }
    @media (min-width:600px){
     .container{
         width: 100%;
         height: 400px;
     }   
    }
    /* Para dispositivos medianos */
    @media(min-width:768px){
    .container {
    width: 100%;
    height: 420px;
        }
    }
    
    @media (min-width:992px){
        .container{
            width: 100%;
            height: 400px;
        }
    }
    /* Dispositivos muy grandes */
    @media (min-width:1200px){
        .container{
            width: 100%;
            height: 600px;
        }
    }