* {
    padding: 0;
    margin: 0;
    font-family:open sans;
}



header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 100%;
    height: 90px;
    color: cornflowerblue;
    z-index: 100;
}

.contenedor {
    margin-bottom: 10px;
}

.Logo {
    width: 40%;
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.linkLogo {
    width: 40%;
    height: 90px;
    margin-left: 11%;
}

.imagenLogoBig {
    width: 100%;
    height: 90px;
}

.imagenLogoSmall {
    display: none;
}

#botonMenu,
#iconoMenu {
    display: none;
}

.contenedorMenu {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 60%;
    transition: all 1s;
}

.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.contenedorMenu .menu a {
    text-decoration: none;
    list-style: none;
    width: 15%;
    text-align: center;
    justify-content: center;
    color: cornflowerblue;
    height: 70px;
    display: flex;
    align-items: center;
    
}

.contenedorMenu .menu li {
    display: flex;
    align-items: center;
}

.contenedorMenu .menu :hover {
    background-color:  rgba(65, 61, 61, 0.068) ;
    color:cornflowerblue;
}


@media (max-width:760px) {
    * {
        margin: 0;
        padding: 0;
    }
    header {
        display: flex;
        flex-direction: row-reverse;
        justify-items: center;
        align-items: center;
        background-color: whitesmoke;
        height: auto;
    }
    .Logo {
        display: flex;
        width: 80%;
        height: 70px;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
    .linkLogo {
        width: 200px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        justify-content: flex-end;
    }
    .linkLogo .imagenLogoBig {
        display: none;
    }
    .linkLogo .imagenLogoSmall {
        display: flex;
        width: 46%;
    }
    nav,
    .contenedorMenu {
        display: none;
        transition: all 0.5s;
    }
    #iconoMenu {
        display: flex;
    }
    #botonMenu:checked~.contenedorMenu {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: stretch;
        width: 100%;
        border-top: 1px solid rgba(65, 61, 61, 0.068);
    }
    .menu {
        display: flex;
        flex-flow: column wrap;
        margin-right: 0px;
        transition: all 1s;
        width: 100%;
    }
    .contenedorMenu .menu a {
        text-decoration: none;
        color: cornflowerblue;
        width: 100%;
        border-top: 1px solid rgba(65, 61, 61, 0.068);
        border-bottom: 1px solid rgba(65, 61, 61, 0.068);
        height: 25px;
    }
}

@media (max-width:250px) {
    .Logo {
        width: 100%;
        justify-content: center;
    }
    .linkLogo {
        display: flex;
        justify-content: center;
        margin: 0px;
    }
    .imagenLogo {
        width: 50%;
        height: 50px;
    }
    
}

@media (max-width:150px) {
    .Logo {
        width: 100%;
        justify-content: center;
    }
    .imagenLogo {
        width: 50%;
        height: 30px;
    }
}

@media (max-width:100px) {
    .Logo {
        width: 100%;
        justify-content: center;
    }
    .imagenLogo {
        width: 80%;
        height: 20px;
    }
}
.parrafoBienvenida{
    font-size: 20px;
    color: cornflowerblue;
    text-shadow: black;

}